body {
    background-color: #E9EBEE;
}
#my-nav{
    background-color: #4267b2;
}
#my-nav a{
    color: white;
}
.added{
    min-width: 400px;
}
#more span{
    color: black;
    font-size: 20px;
}
.footer{
    height: 42px;
    margin-top: 10px;
}
.heading{
    padding: 20px 15px 0 15px;
}

.panel-body .glyphicon{
    margin: 0 4px 0 10px;
}
.text-post {
    margin-top: 0;
    margin-bottom: 15px;
}
section{
    padding: 0 !important;
}
.img-post{
    margin-bottom: 15px;
}
.post-section, .ads{
    height: 525px;
    overflow: scroll;
}
.post-section::-webkit-scrollbar{
    display: none;
}
#icon .glyphicon{
    margin-right:7px;
}
.comment-box{
    width: 100%;
    border-radius: 10px;
    height: 32px;
    color: grey;
    border: 0 !important;
}
.comment-box:focus{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
#icon .badge{
    margin-left: 13px;
}
.post-section{
    margin: 0 10px 0 10px;
}
.comments-toolkit{
    margin-top: 5px;
}
.comments-toolkit span{
    margin-left: 5px;
}